{% extends "index.html" %}
{% block title %}Модуль планирования для Synergy{% endblock %}

{% block head %}
<link href="{{ STATIC_URL}}css/bootstrap-combined.min.css" rel="stylesheet" />
<link href="{{ STATIC_URL}}css/ng-grid.min.css" rel="stylesheet"/>
<link href="{{ STATIC_URL}}css/ngProgress.css" rel="stylesheet"/>
<link href="{{ STATIC_URL}}chosen/chosen.min.css" rel="stylesheet"/>
<link href="{{ STATIC_URL}}select2/select2.css" rel="stylesheet"/>
<!-- <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet"/> -->
<link href="{{ STATIC_URL}}datatables/css/jquery.dataTables.css" rel="stylesheet"/>
<link href="{{ STATIC_URL}}treeview/css/angular.treeview.css" rel="stylesheet"/>
<link href="{{ STATIC_URL}}changes/layout.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/angular-slider.css"> -->
{% endblock %}

{% block body %}
{% verbatim %}
<div class="container-fluid" ng-app="myApp" ng-controller="MyCtrl">
    <div class="row-fluid">
        <div class="span3 sidebar">
            <div class="navigator">
                <h1 style="float:left;">Навигатор</h1>
                <div class="btn-group" style="float:right; margin-right: 10px; margin-top: 9px;">
                    <a ng-click="refresh_plans();" class="nav-btn"><i class="icon-refresh icon-white"></i></a>  
                </div>        
            </div>
            <div adjustable adjust-height="w.innerHeight() - $el.offset().top - 20" class="planlist">
                <div
                    data-angular-treeview="true"
                    data-tree-id="plan_tree"
                    data-tree-model="plan_tree.data"
                    data-node-id="id"
                    data-node-extra="ng-mouseover='mouse.node=node;' context='context' ng-eval-attr='node.obj.resource_type'"
                    data-node-label="title"
                    data-node-children="items" >
                </div>      
            </div>
        </div>
        <div adjustable adjust-to=".sidebar" adjust-width="w.innerWidth() - target.offset().left - target.width() - 11" class="span9 mainwindow" role="main">
            <div class="white-back">
                <div class="main-navigation">
                    <div class="btn-group">
                        <button ng-click="openAddPlan();" class="nav-btn btn-plus">+</button>
                        <button class="nav-btn btn-choice dropdown-toggle" data-toggle="dropdown">&#9662;</button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-show="state.currentPlan"><a ng-click="openAddEvent();">Создать мероприятие</a></li>
                            <li ng-show="state.currentPlan"><a ng-click="openAddGroup();">Создать группу</a></li>
                            <li ng-show="state.currentPlan" class="divider"></li>
                            <li><a ng-click="openAddPlan();">Создать план</a></li>
                            <li class="divider"></li>
                            <li><a ng-click="folder.create();">Создать портфель</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" ng-click="openSearch();" class="nav-btn btn-search"><i class="icon-search icon-white"></i></button>  
                    </div>
                    <div class="btn-group navbar-right">
                        <button class="nav-btn dropdown-toggle btn-search navbar-right" data-toggle="dropdown">Отчеты</button>
                        <ul class="dropdown-menu navbar-right" role="menu">
                            <li ng-show="state.currentPlan"><a href="/plan/zerde_report_1/{{state.currentPlan.id}}/" target="_blank">Отчет выполнения мероприятий</a></li>
                            <li ng-show="state.currentPlan"><a href="/plan/goal_achievement/{{state.currentPlan.id}}/" target="_blank">Отчет достижений цели</a></li>
                            <li ng-show="state.currentPlan"><a href="/plan/interaction/{{state.currentPlan.id}}/" target="_blank">Анализ межведомственного взаимодействия</a></li>
                            <li ng-show="state.currentPlan"><a href="/plan/outside_interaction/{{state.currentPlan.id}}/" target="_blank">Анализ внешнего воздействия</a></li>
                        </ul>
                    </div>

                    <div ng-if="search_grid.meta.previous || search_grid.meta.next" class="btn-group">
                        <button type="button" ng-disabled="!search_grid.meta.previous" ng-click="search_grid.prev()" class="nav-btn"><i class="icon-arrow-left icon-white"></i></button>  
                        <button type="button" ng-disabled="!search_grid.meta.next" ng-click="search_grid.next()" class="nav-btn"><i class="icon-arrow-right icon-white"></i></button>
                    </div>

                </div>
                <div adjustable adjust-height="w.innerHeight() - $el.offset().top - 20" style="overflow: auto;" class="grid" ng-mouseover='mouse.node = null;'>
                    <!-- div class="gridStyle" ng-grid="gridOptions"></div-->
                    <table ng-if="!search_results" id="gridTable"
                           my-table="grid.overrideOptions"
                           aa-data="grid.data"
                           ao-column-defs="grid.columnDefs"
                           fn-row-callback="grid.myCallback"
                           border="0" cellspacing="5" cellpadding="0">
                    </table>
                    <table ng-if="search_results" id="gridTable"
                           my-table="search_grid.overrideOptions"
                           aa-data="search_grid.data"
                           ao-column-defs="search_grid.columnDefs"
                           fn-row-callback="search_grid.myCallback"
                           border="0" cellspacing="5" cellpadding="0">
                    </table>
                </div>      
            </div>
        </div>
    </div>
    <ul id="context_group" class="dropdown-menu">
        <li><a ng-click="group.edit()">Редактировать группу</a></li>
        <li class="divider"></li>
        <li><a ng-click="group.moveUpper()">Переместить выше</a></li>
        <li><a ng-click="group.moveLower()">Переместить ниже</a></li>
        <li class="divider"></li>
        <li><a ng-click="group.delete()">Удалить группу</a></li>
    </ul>
    <ul id="context_plan" class="dropdown-menu">
        <li><a ng-click="plan.edit()">Редактировать план</a></li>
        <li><a ng-click="openAddEvent();">Создать мероприятие</a></li>
        <li><a ng-click="openAddGroup();">Создать группу</a></li>
        <li ng-if="mouse.getType() === 'plan'" class="divider"></li>
        <li ng-if="mouse.getType() === 'plan'"><a ng-click="moveNode(mouse.node, - 1)">Переместить выше</a></li>
        <li ng-if="mouse.getType() === 'plan'"><a ng-click="moveNode(mouse.node, 1)">Переместить ниже</a></li>
        <li class="divider"></li>
        <li><a ng-click="plan.delete()">Удалить план</a></li>
    </ul>	
    <ul id="context_filter" class="dropdown-menu">
        <li ng-if="mouse.getType() === 'filter'"><a ng-click="moveNode(mouse.node, - 1)">Переместить выше</a></li>
        <li ng-if="mouse.getType() === 'filter'"><a ng-click="moveNode(mouse.node, 1)">Переместить ниже</a></li>
    </ul>
    <ul id="context_event" class="dropdown-menu">
        <li><a ng-click="event.edit()">Редактировать мероприятие</a></li>
        <li><a ng-click="event.reassign()">Перепоручить мероприятие</a></li>
        <li class="divider"></li>
        <li><a ng-click="event.moveUpper()">Переместить выше</a></li>
        <li><a ng-click="event.moveLower()">Переместить ниже</a></li>
        <li class="divider"></li>
        <li><a ng-click="event.delete()">Удалить мероприятие</a></li>
    </ul>
    <ul id="context_search_event" class="dropdown-menu">
        <li><a ng-click="event.open_plan()">Открыть план мероприятия</a></li>
    </ul>
    <ul id="context_folder" class="dropdown-menu">
        <li><a ng-click="folder.edit()">Редактировать портфель</a></li>
        <li class="divider"></li>
        <li><a ng-click="folder.moveUpper()">Переместить выше</a></li>
        <li><a ng-click="folder.moveLower()">Переместить ниже</a></li>
        <li class="divider"></li>
        <li><a ng-click="folder.delete()">Удалить портфель</a></li>
        <li ng-if="!plan_tree.currentNode.obj.parent_node_id || true" class="divider"></li>
        <li ng-if="!plan_tree.currentNode.obj.parent_node_id || true"><a ng-click="folder.copy()">Копировать портфель</a></li>
    </ul>
    <script type="text/ng-template" id="templates/progressTemplate.html">
        <div class="modal-header">
        <h3>Установить прогресс</h3>
        </div>
        <div class="modal-body">
        <input type="text" class="input-mini" ng-model="result.progress"/>
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
        </div>
    </script>
</div>
{% endverbatim %}
{% endblock %}

{% block foot %}
<script type="text/javascript">
    var current_user = {{ user.to_pub_json|safe }};
    var synergy_host = '{{ synergy_host }}';


</script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}select2/select2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}select2/select2_locale_ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}datatables/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}datatables/ColReorderWithResize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/angular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}aui/select2.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}angular-1.2.0-rc.2/angular-route.min.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL}}js/angular-cookies.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/lodash.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/ngProgress.min.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/angular-resource.min.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL}}js/restangular.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/angular-locale_ru-ru.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/ui-bootstrap-tpls-0.6.0.min.js"></script>
<!-- script type="text/javascript" src="{{ STATIC_URL }}js/angular.grouptable.js"></script-->
<script type="text/javascript" src="{{ STATIC_URL}}treeview/angular.treeview.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/angular-slider.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL}}js/ng-grid-2.0.7.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/angular-file-upload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/xeditable.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/angular-mocks.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}plan/main.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}plan/controllers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}plan/modals.js"></script>


<style type="text/css">
    .sidebar {
        overflow-x: hidden;
    }
    .big-modal{
        min-height: 400px;
    }
    .modal{
        width: 70%;
        height: 90%;
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        padding: 0;
        margin: 0 !important;
    }

    .modal-body {
        height: 80% !important;
        max-height: 2000px !important;
        border-radius: 0;
    }
    .white-back{
        margin: 0px;
        overflow: hidden;
    }

    .white-back .grid{
        background-color: white;
        min-height: 630px;
    }
    .white-back a{
        color: #05316d;
    }
    .popover{
        max-width: 600px !important;
        width: 600px !important;
    }
    div.controls{
        margin-bottom: 5px;
    }
    body{
        font-family: Arial Unicode MS, Arial, sans-serif;
        font-size: small;
    }
    .btn-group a, .dropdown-menu a, .planlist a{
        cursor: pointer !important;
    }
    .inline{
        display: inline-block;
    }

    .alert a {
        color: #c09853;
        cursor: pointer;
    }
</style>
{% endblock %}