div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Tahoma;
  font-size:13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 25px;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background-image: url("../img/group.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .expanded.folder {
  background-image: url("../img/folder.png");
}
div[data-tree-model] li .normal.folder {
  background-image: url("../img/folder-closed.png");
}
div[data-tree-model] li .collapsed.folder {
  background-image: url("../img/folder-closed.png");
}

div[data-tree-model] li .expanded.plan {
  background-image: url("../img/my_plan.png");
}
div[data-tree-model] li .normal.plan {
  background-image: url("../img/my_plan-closed.png");
}
div[data-tree-model] li .collapsed.plan {
  background-image: url("../img/my_plan-closed.png");
}

div[data-tree-model] li .expanded.plan.ext {
  background-image: url("../img/ext_plan.png");
}
div[data-tree-model] li .normal.plan.ext {
  background-image: url("../img/ext_plan-closed.png");
}
div[data-tree-model] li .collapsed.plan.ext {
  background-image: url("../img/ext_plan-closed.png");
}

div[data-tree-model] li .expanded.work {
  background-image: url("../img/event.png");
}
div[data-tree-model] li .normal.work {
  background-image: url("../img/event.png");
}
div[data-tree-model] li .collapsed.work {
  background-image: url("../img/event.png");
}

div[data-tree-model] li .normal.event {
  background-image: url("../img/event.png");
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background-image: url("../img/group-closed.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("../img/file.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}