body{
    background-color: #232935;
    font-family: arial, tahoma, sans-serif;
    font-size: 12px;
}
.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}

.header{
    background-image: url("images/top.panel.bg.gif");
    background-repeat: repeat-x;
    margin-bottom: 15px;
}
.controls2{
    margin-left: 600px;
}
.controls2 img{
}

div.sidebar{
/*    resize: horizontal;*/
}

.sidebar::-webkit-resizer
{
    background-color: white;
}

.sidebar .planlist{
    padding-top: 10px;
    padding-left: 10px;
    /*margin-right: 10px;
    border:1px solid gray;*/
    background-color: #40434c;
    overflow: auto;
    /*width: 240px; */
    /*left: 0px; */
    /*top: 0px; */
    /*height: 100%;*/
    min-height: 630px;
    color: #c6c9dc;
    -webkit-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.4);    
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
.planlist div{
    width: 1000px;
}
.sidebar .planlist > ul{
    margin-top: 10px;
    margin-left: 10px;
}
.sidebar .planlist > ul >li{
    list-style-type: none;
    background: url('images/plan.png') no-repeat top left;

    padding-left: 20px;
}
.sidebar .navigator{
    background: url("images/center.png");
    height: 33px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    margin-top: 5px;
}
.sidebar .navigator h1{
    color: #ffffff;
    font-weight: bold;
    padding-left: 14px;
    font-size: 13px;
    line-height: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.mainwindow .main-navigation{
    background: url("images/center.png");
    height: 33px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #232935;
}
.mainwindow .main-navigation a{
    color: white;
}

.nav-btn{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
    border-style: groove;
    border-color: gray;
    border-width: 1px;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 3px 7px 3px 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    background-color: #525661;    
    line-height: normal;
}
.nav-btn[disabled]{
    cursor: not-allowed;
    background-color: #999999;	
}


.nav-btn:hover {
    background: #999999;
}

.btn-plus {
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;	
    border-right-width: 0px;
}

.btn-plus:hover {
    background: #999999;
    text-decoration: none;
}
.btn-choice {
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
}

.btn-choice:hover {
    background: #999999;
    text-decoration: none;
}
.btn-group{
    margin-top: 6px;
    margin-left: 10px;
}
.dropdown-menu{
    background-color: #40434c;
    color: #c6c9dc;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 10px;
    font-size: 12px;
    color: #c6c9dc;
    white-space: nowrap;
    /*#5e636f*/
}

a, a:visited, a:hover {
    color: #c6c9dc;
}
.popover-content a{
    color: #333;	
}

.row-fluid .span9.mainwindow{
    /*border: 1px solid gray;*/
    /*background-color: white;*/
    margin-top: 5px;
    margin-left: 5px;
}
.task-bar {
    background-image: url("images/bottom.panel.bg.gif");
    background-repeat: repeat-x;
}



.modal-header{
    background: url("images/center-popup.png");
    height: 33px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 0;
}
.modal-header h3{
    color: #ffffff;
    font-weight: bold;
    padding-left: 14px;
    font-size: 13px;
    line-height: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.modal-footer .btn.btn-primary {
    background: #7ee084;
    background-image: -webkit-linear-gradient(top, #7ee084, #3c9426);
    background-image: -moz-linear-gradient(top, #7ee084, #3c9426);
    background-image: -ms-linear-gradient(top, #7ee084, #3c9426);
    background-image: -o-linear-gradient(top, #7ee084, #3c9426);
    background-image: linear-gradient(to bottom, #7ee084, #3c9426);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.modal-footer .btn.btn-primary:hover {
    text-decoration: none;
}

.planlist div[data-angular-treeview]{
    color: #c6c9dc;
}
.planlist div[data-tree-model] li .selected {
    background-color: #808098;
}

.dropdown-menu {
    
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
.dropdown-menu li{
    line-height: 25px;
    height: 25px; 
}
thead th{
    background-image: url("images/header.png");
    background-repeat: repeat-x;
    border: 1px solid #E1E1E1;
}