<div class="modal-header">
    <h3>Создание плана</h3>
</div>
<div class="modal-body big-modal">
    <form role="form" name="modalForm">
        <div class="controls">
            <input type="text" class="input-xlarge" name="title" required ng-model="result.title" placeholder="Введите название плана">

        </div>
        <div  class="controls controls-row">
            <label class="sr-only" for="placement">Срок от</label>
            <div class="input-append">
                <input type="text" name="from_date" class="input-small" datepicker-popup="dd.MM.yy" ng-model="result.from_date" is-open="pk.from_opened" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>      
                <a class="btn" ng-click="from_open()"><i class="icon-calendar"></i></a>
            </div>
            -
            <div class="input-append">
                <input type="text" name="to_date" class="input-small" datepicker-popup="dd.MM.yy" ng-model="result.to_date" is-open="pk.to_opened" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
                <a class="btn" ng-click="to_open()"><i class="icon-calendar"></i></a>
            </div>
        </div>
        <!-- dirty hack -->
        <input ng-if="result.parent_folders.length == 0" type="hidden" name="parent_folders" ng-model="asd" required="true" />
        <legend>Место расположения</legend>
        <div  class="controls controls-row">
            <div
                data-angular-treeview="true"
                data-tree-id="ptree"
                data-tree-model="ptree.data"
                data-tree-selection="false"
                data-node-id="id"
                data-node-tpl="<input ng-if='ptree.isPresent(node.obj)' name='parent_folders[]' ng-click='ptree.toggle(node.obj)' ng-checked='ptree.isChecked(node.obj)' type='checkbox'/> [[ node.title ]]"
                data-node-label="title"
                data-node-children="items">
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!modalForm.$valid" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>