<div class="modal-header">
    <h3>Создание мероприятия</h3>
</div>
<div class="modal-body big-modal">
    <form role="form" name="eventForm">
        <div class="controls">
            <input type="text" class="input-block-level" name="title" required ng-model="result.title" placeholder="Введите название мероприятия"> 
        </div>
        <!-- event type select box created -->
        <legend> Тип Мероприятия </legend>
        <div class="controls">
            <!--<select class="input-large" name="finans_type" required ng-model="result.extra['Финансирование']" ng-options="key as value for (key, value) in budget_types"> -->
            <div class="inline-form">
                <select class="input-large" name="event_choice_type" required ng-model="result.extra['Тип_Мероприятия']" ng-options="key as value for (key, value) in event_types">
            </div>
        </div>

        <legend>Исполнение</legend>
        <div class="controls">
            <!-- label class="sr-only" for="responsible">Ответственные <input title="Перечислить ответственных автоматически" name="is_resp_auto" ng-change="recalcResp()" ng-model="result.is_resp_auto" type="checkbox"/></label-->

            <div class="inline-form">
                <input type="text" typeahead="value as value.nameRu for value in departments | leafDepartments | filter:$viewValue" class="input-block-level" name="department" required ng-model="result.department" placeholder="Введите ответственную организацию/группу">
            </div>
        </div>
        <!-- div class="controls controls-row">
          <label class="sr-only" for="placement">Срок мероприятия</label>
          <div class="input-prepend">
            <button disabled class="btn"><i class="icon-calendar"></i></button>
            <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="result.from_date" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
          </div>
          -
          <div class="input-prepend">
            <button disabled class="btn"><i class="icon-calendar"></i></button>
            <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="result.to_date" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
          </div>
        </div-->

        <!-- legend>Исполнители <button class="btn" ng-click="addAssignee();" type="button">Добавить</button></legend-->
        <div ng-repeat="assign in result.assignees" ng-form="assigneeForm">
            <!-- h3>Исполнение {{ $index + 1 }} <button class="btn btn-danger" ng-click="deleteAssignee($index);" type="button">Удалить</button></h3-->
            <div class="controls">
                <label class="sr-only" for="period">Срок</label>
                <!--input type="hidden" ng-model="result.assignees[$index].period" name="period" /-->
                <select class="input-large" name="period" required ng-model="result.assignees[$index].period" ng-change="clearDates(result.assignees[$index])" ng-options="value as key for (value, key) in periods">
                </select>
                <div class="form-inline" ng-if="result.assignees[$index].period == 'once'">
                    <div class="input-prepend">
                        <button disabled class="btn"><i class="icon-calendar"></i></button>
                        <input type="text" class="input-small" datepicker-popup="dd.MM.yy" ng-model="result.assignees[$index].dates[0]" name="dates_from" placeholder="С" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
                    </div>
                    <div class="input-prepend">
                        <button disabled class="btn"><i class="icon-calendar"></i></button>
                        <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="result.assignees[$index].dates[1]" name="dates_to" placeholder="По" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
                    </div>
                </div>
                <div ng-if="result.assignees[$index].period == 'quarterly'">          
                    <select required ng-options="value as key for (value, key) in quartals" class="input-large" name="dates" required ng-model="result.assignees[$index].dates[0]">
                    </select>
                    <input type="text" name="year" ng-model="result.assignees[$index].dates[1]" class="input-small" placeholder="Год"/>
                </div>
                <div class="input-append" ng-if="result.assignees[$index].period != 'once' && result.assignees[$index].period != 'quarterly'">
                    <select class="input-xlarge" name="dates" ng-required="true" ng-model="result.assignees[$index].dates" ng-chosen="result.assignees[$index].period" data-placeholder="Выберите даты" multiple ng-options="row.$key as row.label group by row.group for row in periodDates[result.assignees[$index].period] |toArray"></select>
                </div>
            </div>
            <div class="controls" ng-if="result.assignees[$index].period != 'once' && result.assignees[$index].period != 'quarterly'">
                <label class="sr-only" for="duration">Длительность</label>
                <input type="number" min="1" class="input-xlarge" name="duration" ng-required="true" ng-model="result.assignees[$index].duration" placeholder="в днях">
            </div>
            <div class="controls controls-row" ng-if="result.assignees[$index].period != 'once' && result.assignees[$index].period != 'quarterly'">
                <label class="sr-only" for="placement">В период</label>
                <div class="input-prepend">
                    <button disabled class="btn"><i class="icon-calendar"></i></button>
                    <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="result.assignees[$index].from_date" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>
                </div>
                -
                <div class="input-prepend">
                    <button disabled class="btn"><i class="icon-calendar"></i></button>
                    <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="result.assignees[$index].to_date" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>

                </div>
            </div>
            <div class="controls">
                <div class="inline">
                    <label>Ответственный</label>
                    <input disabled type="text" class="input-large" value="{{result.assignees[$index].resp.name}}"/>
                    <input type="hidden" class="input-large" name="resp" required ng-model="result.assignees[$index].resp"/>
                    <!--select class="input-large" name="resp" required ng-model="result.assignees[$index].resp" ng-model-str="result.assignees[{{$index}}].resp" ui-select2="userSelectOptions()" data-placeholder="Выберите ответственного" ng-change="recalcResp($index);clearOverlays($index)" ng-validate-folder="result.assignees[$index].parent_nodes"></select-->
                </div>
                <!-- div class="inline">
                  <label>Соиполнители</label>          
                  <input type="hidden" idx="{{ $index }}" class="input-xlarge" name="coworkers" ng-model="result.assignees[$index].coworkers" ng-model-str="result.assignees[{{$index}}].coworkers" ui-select2="userSelectOptions(true)" data-placeholder="Выберите соисполнителей" ng-change="recalcResp($index);clearOverlays($index)" multiple ng-validate-folder="result.assignees[$index].parent_nodes"></input>
                </div-->
            </div>      
            <!--div ng-if="assigneeForm.resp.$error.folder || assigneeForm.coworkers.$error.folder">
              <alert type="'error'">
                Портфель должен быть выбран для каждого исполнителя.
              </alert>
            </div>
            <div class="controls">
            <div
              data-angular-treeview="true"
              ng-init="assTree.initTree($index, assign)"
              data-tree-id="assTree.tree[{{$index}}]"
              data-tree-model="assTree.tree[{{$index}}].data"
              data-tree-selection="false"
              data-node-id="id"
              data-node-tpl="<input ng-if='assTree.isPresent(node.obj, assign)' name='parent_folders[]' ng-click='assTree.toggle(node.obj, result.assignees[{{$index}}])' ng-checked='assTree.isChecked(node.obj, result.assignees[{{$index}}], {{ $index }})' type='checkbox'/> [[ node.title ]] ([[ node.obj.manager.name ]])"
              data-node-label="title"
              data-node-children="items">
              </div>
            </div>
            <div ng-init="clearOverlays($index)" ng-if="assigneeForm.$valid">
              <div class="controls">          
                <button type="button" class="btn btn-success" title="Проверить есть ли наложения других работ на вышеперечисленных подчиненных" ng-click="getOverlays($index, result.assignees[{{$index}}])">Проверить наложения</button>
              </div>
              <alert ng-if="overlays[$index].is_overlayed" type="'warning'">
              <ul>
                <li ng-repeat="(username, user_overlays) in overlays[$index].data">{{ username }}
                  <ul ng-repeat="overlay in user_overlays">
                    <li ng-repeat="(plan_title, works) in overlay.works">
                      <a onclick="if($(this).next().is(':hidden')){$(this).next().show();}else{$(this).next().hide();}">В &laquo;{{ plan_title }}&raquo; наложения в период c {{ overlay.from_date|date }} по {{ overlay.to_date|date }}</a>
                      <ul style="display: none;">
                        <li ng-repeat="work in works">{{ work.title }}: {{ work.from_date|date }} - {{ work.to_date|date }}</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>          
              </alert>
              <alert ng-if="overlays[$index].is_ready && !overlays[$index].is_overlayed" type="'success'">
                Ни у одного из вышеперечисленных подчиненных нет работ в это время.
              </alert>
            </div-->
            <!-- div class="controls">
              <label class="sr-only" for="completion_form">Форма завершения</label>
              <select class="input-xlarge" name="completion_form" ng-required="true" ng-model="result.assignees[$index].completion_form" ng-chosen="result.assignees[$index].completion_form" data-placeholder="Выберите форму завершения" ng-options="form.id as form.name for form in comp_forms"></select>
            </div-->
        </div>
        <!-- legend>Детализировать <button class="btn" ng-click="addDetailer();" type="button">Добавить</button></legend>
          <table class="table table-condensed" style="width: 300px;">
          <tbody ng-repeat="detailer in result.detailers" ng-form="detailerForm">
            <tr>
              <td>
                <input type="text" name="plan_title" ng-required="true" ng-model="result.detailers[$index].plan_title" placeholder="Название плана"/>
              </td>
              <td>
                <input type='text' class="input-xlarge" name="resp" data-placeholder="Выберите детализатора" ng-required="true" ng-model="result.detailers[$index].resp" ng-model-str="result.detailers[{{$index}}].resp" ui-select2="userSelectOptions()" ng-change="recalcResp(null, $index)" ng-validate-folder="result.detailers[$index].parent_nodes"></input>
              </td>
              <td>
                <input type="number" min="1" class="input-small" ng-required="true" name="duration" ng-model="result.detailers[$index].duration" placeholder="время на детализацию в днях">
              </td>
              <td>
                <button type="button" class="btn btn-danger" ng-click="deleteDetailer($index);"><i class="icon-trash"></i></button>
              </td>
            </tr>
            <tr>
              <td colspan="4">
              <div ng-if="detailerForm.resp.$error.folder">
                <alert type="'error'">
                  Портфель должен быть выбран для детализирующего.
                </alert>
              </div>
              <div
                data-angular-treeview="true"
                ng-init="detTree.initTree($index, detailer)"
                data-tree-id="detTree.tree[{{$index}}]"
                data-tree-model="detTree.tree[{{$index}}].data"
                data-tree-selection="false"
                data-node-id="id"
                data-node-tpl="<input ng-if='detTree.isPresent(node.obj, detailer)' name='parent_folders[]' ng-click='detTree.toggle(node.obj, result.detailers[{{$index}}])' ng-checked='detTree.isChecked(node.obj, result.detailers[{{$index}}], {{ $index }})' type='checkbox'/> [[ node.title ]] ([[ node.obj.manager.name ]])"
                data-node-label="title"
                data-node-children="items">
                </div>
              </td>
            </tr>
            </tbody>
          </table-->
        <!-- legend>Дополнительные поля <button class="btn" ng-click="addExtra();" type="button">Добавить</button></legend>
        <div class="controls">
          <table class="table table-condensed" style="width: 300px;">
            <tr ng-repeat="item in pk.extra" class="inline-form">
              <td>
                <input type="text" class="input-medium" ng-required="true" name="extra[$index].key" ng-model="pk.extra[$index].key" placeholder="Название поля">            
              </td>
              <td>
                <input type="text" class="input-xlarge" name="extra[$index].value" ng-model="pk.extra[$index].value" placeholder="Значение">
              </td>
              <td>
                <button type="button" class="btn btn-danger" ng-click="deleteExtra($index);"><i class="icon-trash"></i></button>
              </td>
            </tr>
          </table>
          <div >
          </div>      
        </div -->
        <legend>Финансирование</legend>
        <div>
            <div class="inline-form">
                <select class="input-large" name="finans_type" required ng-model="result.extra['Финансирование']" ng-options="key as value for (key, value) in budget_types">
                </select>
                <input ng-if="result.extra['Финансирование'] != 0" type="text" placeholder="Код бюджетной программы" class="input-large" name="finance_code" required ng-model="result.extra['Код бюджетной программы']">
                <input ng-if="result.extra['Финансирование'] != 0" type="text" placeholder="Сумма" class="input-large" name="finans_sum" required ng-model="result.extra['Сумма']">
            </div>
        </div>

        <legend>Карта показателей</legend>
        <div >
            <div class="controls">
                <button class="btn" disabled>Добавить карту показателей</button>
            </div>
            <div class="controls">
                <button class="btn" disabled>Выбрать карту показателей</button>
            </div>
        </div>
        <legend>Показатели <button disabled class="btn">Добавить</button></legend>
        <div>
            <table class="table">
                <tr><td><a href="#">Показатель 1</a></td></tr>
                <tr><td><a href="#">Показатель 2</a></td></tr>
                <tr><td><a href="#">Показатель 3</a></td></tr>
            </table>
        </div>

        <legend>Место расположения</legend>
        <div class="controls controls-row">
            <div
                data-angular-treeview="true"
                data-tree-id="groupTree"
                data-tree-model="groupTree.data"
                data-node-id="id"
                data-node-label="title"
                data-node-children="items" >
            </div>
        </div>
    </form>            
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="eventForm.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>