<div class="modal-header">
  <h3>Создание портфеля</h3>
</div>
<div class="modal-body big-modal">
<form name="modalForm">
    <div class="controls">
      <input type="text" class="input-block-level" name="title" required ng-model="result.title" placeholder="Введите название портфеля">
    </div>
    <div class="controls">
      <label class="sr-only" for="manager">Менеджер</label>
      <input type="hidden" class="input-xlarge" name="manager" required ng-model="result.manager" data-placeholder="Выберите менеджера" ui-select2="userSelectOptions()"></input>
    </div>
    <legend>Место расположения</legend>
    <div  class="controls controls-row">
      <div
      data-angular-treeview="true"
      data-tree-id="folderTree"
      data-tree-model="folderTree.data"
      data-node-id="id"
      data-node-label="title"
      data-node-children="items" >
      </div>
    </div>
</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="!modalForm.$valid" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>
