<div class="modal-header">
  <h3>Создание группы</h3>
</div>
<div class="modal-body big-modal">
  <form role="form" name="modalForm">
    <div class="controls">
      <input type="text" class="input-xlarge" name="title" required ng-model="group.title" placeholder="Введите название группы">
      <input type="hidden" required name="parent_node" ng-model="group.parent_node"/>
    </div>
    <legend>Место расположения</legend>
    <div  class="controls controls-row">
      <div
      data-angular-treeview="true"
      data-tree-id="groupTree"
      data-tree-model="groupTree.data"
      data-node-id="id"
      data-node-label="title"
      data-node-children="items" >
      </div>
    </div>
  </form>            
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="modalForm.$invalid" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>