<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
  <div class="arrow"></div>

  <div class="popover-inner">
      <!-- <h3 class="popover-title" ng-bind="title" ng-show="title"></h3> -->
      <div class="popover-content">
		<!-- <div id="details"> -->
			<div>
				<h3>Исполнение</h3>
				<div>
			    	<table class="table table-condensed" ng-if="state.eventDetail.assignees.length > 0">
			        	<thead><tr>
			        		<th>Имя</th>
			        		<th>Прогресс</th>
			        	</tr></thead>
			        	<tbody>
			        		<tr ng-repeat="assignee in state.eventDetail.assignees">
			        			<td>{{ assignee.resp.name }}</td>
			        			<td>
			        				<div class="progress" style="margin: 0 0;">
										<div class="bar" style="width: {{ assignee.progress }}%;">{{ assignee.progress }}%</div>
									</div>
			        			</td>
			        		</tr>
			        	</tbody>
					</table>
					<div ng-if="state.eventDetail.assignees.length == 0">
						Нет исполнителей
					</div>
				</div>
			</div>
			<div>
				<h3>Детализация</h3>
				<div>
			    	<table class="table table-condensed" ng-if="state.eventDetail.detailers.length > 0">
			        	<thead><tr>
			        		<th>Имя</th>
			        		<th></th>
			        		<th>Прогресс</th>
			        	</tr></thead>
			        	<tbody>
			        		<tr ng-repeat="detailer in state.eventDetail.detailers">
			        			<td><a style="cursor:pointer;" ng-click="state.set_plan(state.get_plan(detailer.plan_id));">{{ detailer.resp.name }}</a>
			        			</td>
			        			<td>
									<a ng-if="detailer.work.progress < 100 && detailer.work.doc_id" target="_parent" href="{{synergy_host}}/Synergy/Synergy.html?locale=ru&submodule=common&action=open_document&document_identifier={{ detailer.work.doc_id }}" onclick="window.top.processParams('submodule=common&action=open_document&document_identifier={{ detailer.work.doc_id }}'); return false;">На детализации</a>
			        			</td>
			        			<td>
			        				<div style="cursor: pointer;" class="progress" style="margin: 0 0;">
										<div class="bar" style="width: {{ detailer.progress }}%;">{{ detailer.progress }}%</div>
									</div>
			        			</td>
			        		</tr>
			        	</tbody>
					</table>
					<div ng-if="state.eventDetail.detailers.length == 0">
						Нет детализирующих
					</div>
				</div>
			</div>
		<!-- </div>         -->
      </div>
  </div>
</div>