<div class="detail">
    <div>
        <h4>Исполнение</h4>
        <div>
            <table class="table table-bordered" ng-if="eventDetail.assignees.length > 0">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Должность</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exec in eventDetail.assignees">
                        <td style="padding-left: {{ ($index + 1) * 10 }}px !important;">{{ exec.resp.name }}</td>
                        <td>{{ exec.resp.position }}</td>
                    </tr>
                </tbody>
            </table>

            <div ng-if="eventDetail.assignees.length == 0">
                Нет исполнителей
            </div>
        </div>
    </div>
</div>