<div class="modal-header">
  <h3>Права доступа на план</h3>
</div>
<div class="modal-body big-modal">
<form role="form" name="permForm">
<div class="btn-group">
  <button type="button" class="btn" ng-model="md.add" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    Добавить
  </button>
  <button type="button" class="btn" ng-model="md.edit" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
    Редактировать
  </button>
</div>
  <div ng-show="md.add">
    <div class="controls">
      <select class="input-large" name="user_id" required ng-model="new.user_id" ng-chosen="new.user_id" data-placeholder="Выберите сотрудника" ng-options="user.userID as user.name for user in users"></select>

      <div class="btn-group">
        <button type="button" class="btn" ng-model="new.perms.read" btn-checkbox>Чтение</button>
        <button type="button" class="btn" ng-model="new.perms.write" btn-checkbox>Запись</button>
        <button type="button" class="btn" ng-model="new.perms.perm" btn-checkbox>Назначение прав</button>
      </div>
    </div>    
    <button class="btn btn-primary" ng-click="add_new()">Добавить</button>
    <button class="btn btn-warning" ng-click="add_cancel()">Закрыть</button>
  </div>
</form>
<div>
  <table class="table table-condensed">
    <thead><tr>
      <th>Имя</th>
      <th>Права</th>
      <th>Должность</th>
      <th ng-show="md.edit"></th>
    </tr></thead>
    <tbody>
      <tr ng-repeat="perm in result.permissions">
        <td>{{ perm.user_id|username }}</td>
        <td ng-hide="md.edit">
          {{ perm.perms|permissions }}
        </td>
        <td ng-show="md.edit">
          <div class="btn-group">
            <button type="button" class="btn" disabled ng-model="perm.perms.read" btn-checkbox>Чтение</button>
            <button type="button" class="btn" ng-model="perm.perms.write" btn-checkbox>Запись</button>
            <button type="button" class="btn" ng-model="perm.perms.perm" btn-checkbox>Назначение прав</button>
          </div>
        </td>
        <td></td>
        <td ng-show="md.edit">
          <button type="button" class="btn btn-danger" ng-click="result.permissions.splice($index, 1)"><i class="icon-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>