<div class="modal-header">
  <h3>Поск мероприятий</h3>
</div>
<div class="modal-body big-modal">
  <form role="form" name="modalForm">
    <div  class="controls controls-row">
      <label class="sr-only" for="placement">Период исполнения</label>
      <div class="input-prepend">
        <button disabled class="btn"><i class="icon-calendar"></i></button>
        <input type="text" name="from_date" class="input-small" paceholder="С" datepicker-popup="dd.MM.yy" ng-model="result.from_date" is-open="pk.from_opened" datepicker-options="dateOptions" datepicker-manual-input="true"/>
      </div>
      -
      <div class="input-prepend">
        <button disabled class="btn"><i class="icon-calendar"></i></button>
        <input type="text" name="to_date" class="input-small" paceholder="По" datepicker-popup="dd.MM.yy" ng-model="result.to_date" is-open="pk.to_opened" datepicker-options="dateOptions" datepicker-manual-input="true"/>
      </div>
    </div>
    <div class="controls">
      <input type="text" class="input-xlarge" name="resp_name" ng-model="result.resp_name" typeahead="user.name for user in users | filter:$viewValue | limitTo:8" placeholder="Введите исполнителя">
    </div>
    <div class="controls">
      <input type="text" class="input-xlarge" name="position" ng-model="result.resp_position" typeahead="pos for pos in positions | filter:$viewValue | limitTo:8" placeholder="Введите должность">
    </div>
    <div class="controls">
      <input type="text" class="input-xlarge" name="event_title" ng-model="result.event_title" placeholder="Введите мероприятие">
    </div>
    <div class="controls controls-row">
        <label class="inline" for="is_finished">Исполнено</label>
        <input type="checkbox" ng-change="notBoth()" name="is_finished" ng-model="result.is_finished" placeholder="Введите мероприятие">      
        <label class="inline" for="is_not_finished">Не исполнено</label>
        <input type="checkbox" ng-change="notBoth()" name="is_not_finished" ng-model="result.is_not_finished" placeholder="Введите мероприятие">
    </div>
  </form>            
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-disabled="modalForm.$invalid || !is_valid()" ng-click="ok()">Поиск</button>
  <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
</div>