<div class="detail">
    <div>
        <h4>Детализация</h4>
        <div>
            <table id="sub_event_table" class="table table-bordered" ng-if="subEventDetail.sub_events.length > 0" event_id="subEventDetail.id">
                <thead>
                    <tr>
                        <th style="text-align: center; ">Мероприятие</th>
                        <th style="text-align: center; ">Дата начала</th>
                        <th style="text-align: center; ">Дата завершения</th>
                        <th style="text-align: center; ">Форма завершения</th>
                        <th style="text-align: center; ">Ссылка на файл</th>
                        <th style="text-align: center; ">Комментарий</th>
                        <th style="text-align: center; ">Прогресс</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="exec in subEventDetail.sub_events">

                        <td style="padding-left: {{ (exec.tab + 1) * 10 }}px !important;">
                            {{ exec.name }}
                        </td>
                        <td>
                            <a href="#" editable-bsdate="exec.from_date" e-datepicker-popup="dd-MMMM-yyyy"  onbeforesave="updateFromDate($data, exec, subEventDetail, $index)">
                                {{ (exec.from_date | date:"dd/MM/yyyy") || 'empty' }}
                            </a>
                            <!--                                <button disabled class="btn"><i class="icon-calendar"></i></button>
                                                            <input type="text" class="input-small"  datepicker-popup="dd.MM.yy" ng-model="exec.from_date" datepicker-options="dateOptions" ng-required="true" datepicker-manual-input="true"/>-->

                        </td>
                        <td>
                            <a href="#" editable-bsdate="exec.to_date" e-datepicker-popup="dd-MMMM-yyyy" onbeforesave="updateToDate($data, exec, subEventDetail, $index)">
                                {{ (exec.to_date | date:"dd/MM/yyyy") || 'empty' }}
                            </a>
                        </td>
                        <td>{{ exec.finishing_form }}</td>
                        <td>
                            <div ng-repeat="file in exec.synergy_attachments">
                                <a href="{{file.url}}" target="_blank">{{ file.file_name }}</a><button ng-click="fileDelete(file.file_name, $index, subEventDetail.id)">Удалить</button>
                            </div>
                            <input ng-file-select="onFileSelect(exec, subEventDetail, $index)" type="file" multiple  />
                        </td>
                        <td>
                            <a href="#" editable-text="exec.comment" onbeforesave="updateComment($data, exec, subEventDetail, $index)">
                            {{ exec.comment || 'Комментарий' }}
                            </a>
                        </td>
                        <td>
                            <div tooltip-placement="left" tooltip-append-to-body="true" tooltip="Кликните для установки прогресса" editable-range="exec.sub_progress" class="progress ng-scope" style="margin: 0 0;" onbeforesave="updateProgress($data, exec, subEventDetail, $index)">
                                <div class="bar" title="44%" style="width: {{exec.sub_progress}}%;">{{ exec.sub_progress }}%</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
