{% extends "index.html" %}
 
{% block title %}Страница не найдена{% endblock %}
 
{% block main_content %}

<div class="text-center">
  <img src="{{ STATIC_URL }}images/404.png" alt="Page not found">
  <h1>Страница не найдена</h1>
  <p>Попробуйте проверить адрес.</p>
</div>
{% endblock %}
