<!DOCTYPE html>
<html>

<head>
  <title>Страница не доступна</title>
  <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
  <link rel="apple-touch-icon-precomposed image_src" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png" />
  <meta charset="utf-8">
</head>
 
<body>
  <div style="text-align:center;">
    <img src="/static/images/500.png" alt="Page not found">
    <h1>Что-то пошло не так</h1>
    <p>Попробуйте перезагрузить страницу позже.</p>
  </div>
</body>
 
</html>