<!DOCTYPE HTML>
<html>  
    <head lang="ru">
        <meta charset="utf-8">
        <title>{% block title%}{% endblock %}</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}
        {% endblock %}
        <!-- <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet"/> -->
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block foot %}
        {% endblock %}
    </body>
</html>
    